<div class="ibm-sitenav-menu-container-new ibm-background-neutral-white-20">
    <p class="ibm-small">
        <label class="ibm-column-field-label" id="total_result">Estimated Time Allocation 2</label>
        <span class="ibm-input-group">
            <span class="ibm-checkbox-before-text">Check/Un-check to see specific availability</span> <span class="availability-separator">|</span>
            <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="available" name="availability" type="checkbox" value="Available" /> <label for="available" class="ibm-field-label">Available</label>
            </span>
            <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="stretch" name="availability" type="checkbox" value="Stretch" /> <label for="stretch" class="ibm-field-label">Stretch</label>
            </span>
            <!-- <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="partial_stretch" name="availability" type="checkbox" value="Partial Stretch" /> <label for="partial_stretch" class="ibm-field-label">Partial Stretch</label>
            </span> -->
            <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="not_available" name="availability" type="checkbox" value="Not Funded | Not Available" /> <label for="not_available" class="ibm-field-label">Not Funded &nbsp;|&nbsp; Not Available</label>
            </span>
            <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="over_allocated" name="availability" type="checkbox" value="Not Funded | Not Available" /> <label for="over_allocated" class="ibm-field-label">Over Allocated</label>
            </span>
            <!-- <span class="ibm-checkbox-wrapper">
                <input class="ibm-styled-checkbox" id="partial_available" name="availability" type="checkbox" value="Not Funded | Partial Available" /> <label for="partial_available" class="ibm-field-label">Not Funded &nbsp; | &nbsp; Partial Available</label>
            </span> -->
        </span>
    </p>
</div>